<div class="container edit-article">
  <ul class="inline-list">
    <li><%= link_to 'Back', article_path, class: 'btn btn-primary' %></li>
    <li><%= link_to 'Home', root_path, class: 'btn btn-primary' %>  </li>
  </ul>
  <h1>Editing Article: <small>(make sure to save your work)</small></h1>
  <%=  render 'form' %>
  <hr>
  <% @article.categories.each do |category| %>
    <a class="btn btn-info tag" href="#"><%= category.label %></a>
  <% end %>
  <%= render 'categories/form' %>

</div>
