<% @articles.each do |article| %>
  <div class="grid_16">
    <div class="grid_2">
      <% if article.featured_image != nil %>
        <%= image_tag article.featured_image.url(:thumb), class: 'blurb-thumbnail' %>
      <% else %>
        ""
      <% end %>
    </div>
    <div class="grid_3">
      <h2><%= link_to article.title, article_path(article) %></h2>
      <small>Created on: <%= localize(article.created_at, :format => :long) %></small><br>
      <small>Last updated on: <%= localize(article.updated_at, :format => :long) %></small>
     </div>
    <div class="grid_6">
      <p><%= truncate(article.body, length: 200, separator: ' ', omission: '...') %></p>
    </div>
    <!-- <div class="grid_5">
      <ul class="inline-list">
        <li><#%= link_to 'Show', article_path(article), class: 'btn btn-primary btn-xs' %></li>
        <li><#%= link_to 'Edit', edit_article_path(article), class: 'btn btn-primary btn-xs' %></li>
        <li><#%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-xs' %></li>
      </ul>
    </div> -->
  </div>
  <hr>
<% end %>  
