<div class="container">
  <div class="col-md-8">
    <h1><%= @article.title %></h1>
    <small>Created on <%= time_tag @article.created_at, pubdate: true %></small>
    <div class="article-content">
      <%= image_tag @article.featured_image.url, class: 'featured-image' %>
      <%= simple_format(@article.body)  %>
      <%= @article.user_id %>
    </div>
  </div>
  <div class="col-md-4">
    
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-8">
     
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
  <hr>
  <ul class="list-inline">
    <li><%= link_to 'Back', articles_path, class: 'btn btn-primary' %></li>
    <li><%= link_to 'Edit', edit_article_path, class: 'btn btn-primary' %></li>
    <li><%= link_to 'Home', root_path, class: 'btn btn-primary' %></li>
  </ul>
</div>