<div class="container show-article">
  <div class="grid_12 alpha article-content">
    <h1><%= @article.title %></h1>
    <div class="article-content">
      <%= image_tag @article.featured_image.url, class: 'featured-image' %>
      <div class="article-body">
        <%= simple_format(@article.body)  %>  
      </div>
    </div>
  </div>
  <div class="grid_4 omega sidebar">
    <ul class="inline-list">
      <% if user_signed_in? %>
        <% if @article.user_id == current_user.id %>
        <li><%= link_to 'Edit', edit_article_path, class: 'btn btn-primary' %></li>
        <li><%= link_to 'Trash', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %></li>
        <% end %>
        <li><%= link_to 'Home', root_path, class: 'btn btn-primary' %></li>
      <% end %>
    </ul>
    <p>Authored by: <br>
      <span>
      <% if @user.avatar.url != nil %>
        <%= image_tag @user.avatar.url(:thumb) %>
      <% else %>
        ""
      <% end %>
      </span><br>
      <% if @user.username %>
        <%= @user.username %>
      <% else %>
      <%= @user.email%>
      <% end %><br>
      <small>Created on <%= time_tag @article.created_at, pubdate: true %></small></p>
    <div>
      <% @article.categories.each do |category| %>
        <a class="btn btn-info tag" href="#"><%= category.label %></a>
      <% end %>
      <%= render 'categories/form' %>  
    </div>
    </p>
  </div>
</div>
<div class="container">
  <div class="grid_12">
    <h2>Comments</h2>
    <%= render @article.comments %>
    <h4>
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
  </div>
</div>