<div class="container show">
  <div class="grid_12 article-content">
    <h1><%= @article.title %></h1>
    <div class="article-content">
      <%= image_tag @article.featured_image.url, class: 'featured-image' %>
      <%= simple_format(@article.body)  %>
      
    </div>
  </div>
  <div class="grid_4 sidebar">
    <p>Authored by: <% if @user.username %><%= @user.username %><% else %><%= @user.email%><% end %></p>
    <p><small>Created on <%= time_tag @article.created_at, pubdate: true %></small></p>
  </div>

</div>
<div class="container">
  <div class="grid_16">
      <ul class="inline-list">
        <li><%= link_to 'Back', articles_path, class: 'btn btn-primary' %></li>
        <li><%= link_to 'Edit', edit_article_path, class: 'btn btn-primary' %></li>
        <li><%= link_to 'Home', root_path, class: 'btn btn-primary' %></li>
      </ul>
    </div>
</div>