<% if user_signed_in? %>
  <%= link_to 'All Articles', articles_path   %>
  <%= link_to 'Create A New Article', new_article_path %>

  <h2><%= current_user.first_name == nil ? current_user.email : current_user.name %>'s articles:</h2>
  <% @allarticles.each do |article| %>
    <section>
      <header>
        <h3><%= article.title %></h3> 
      </header>
      <p><%= article.category %></p>
    </section>
  <% end %>

<% else %>
  <%= link_to('All posts', articles_path)  %>
<% end %>
