<nav class="navbar">
  <div class="container">
    <ul class="nav">
      <!-- align left -->
      <li class=""><%= link_to 'WDI Boston Fall ''14', root_path %></li>
      <%= form_tag('/categories/show', method: 'get', class: 'nav-form inline-form') do %>
        <%= text_field_tag :q, nil, placeholder: 'Category' %>
        <%= submit_tag("Search") %>
      <% end %>
      <% if user_signed_in? %>
      <!-- align right -->
      <li class="user-signed-in align-right">
        <span class="user-profile-pic"><%= image_tag current_user.avatar.url(:thumb), class: 'user-avatar' %></span>
        <%= link_to current_user.username == nil ? current_user.email : current_user.username, '#', class: "dropdown-toggle", data: { toggle: 'dropdown' } %>
        <ul class="dropdown">
          <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>
        </ul>
      </li>
      <li  class='align-right'><%= link_to(current_user.username ? current_user.username + "'s Articles" : current_user.email + "'s Articles", home_index_path) %></li>
      <li class='align-right'><%= link_to 'Create A New Article', new_article_path %> </li>
      <% else %>
      <li class="align-right"><%= link_to('Login', new_user_session_path)  %></li>
      <% end %>
    </ul>  
  </div>
</nav>
